.badge {
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;
}

.online {
  background-color: green;
}

.offline {
  background-color: gray;
}

.busy {
  background-color: red;
}
